<!-- snippet/product-price.liquid -->
{% if product.title %}
  {%- assign compare_at_price = product.compare_at_price -%}
  {%- assign price = product.price -%}
  {%- assign price_varies = product.price_varies -%}
  {%- assign available = product.available -%}
{% else %}
  {%- assign compare_at_price = 1999 -%}
  {%- assign price = 1999 -%}
  {%- assign price_varies = false -%}
  {%- assign available = true -%}
{% endif %}

{%- assign money_price = price | money -%}

{%- assign total_inventory = 0 -%}
{%- for variant in product.variants -%}
  {%- assign total_inventory = total_inventory | plus: variant.inventory_quantity -%}
{%- endfor -%}

{% if total_inventory >= 10 %}
  {% if price_varies %}
    <span class="product-price__price product-price__sale" style="color: #ef4444; font-weight: 700;">
      {{ money_price }}
    </span>
    <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
    <s class="product-price__price" style="color: #9ca3af; margin-left: 5px;">{{ compare_at_price | money }}</s>
  {% else %}
    <span class="product-price__price product-price__sale" style="color: #ef4444; font-weight: 700;">
      {{ money_price }}
    </span>
    <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
    <s class="product-price__price" style="color: #9ca3af; margin-left: 5px;">{{ compare_at_price | money }}</s>
  {% endif %}
{% else %}

  {% if price_varies %}
    <span class="product-price__price">{{ money_price }}</span>
  {% else %}
    <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
    <span class="product-price__price">{{ money_price }}</span>
  {% endif %}
{% endif %}

{% unless available %}
  <span class="product-price__sold-out">{{ 'products.product.sold_out' | t }}</span>
{% endunless %}
